*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 2rem;
}

:root{
    font-size: 62.5%
}

body{
    background-color: #e5e5e5;
}

header{
    background-color: white;
    border-radius: 0 0 .75rem .75rem;
}

header > nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem .5rem
}

li, p{
    display: inline;
}

.center{
    flex-grow: 1; 
    
}

.center ul{
    justify-content: start;
}
.center ul li {
    margin: 0 1rem 0 1rem;
    padding: 1rem;
}

a{
    outline: none;
    text-decoration: none;
    color: black;
}

.pantalla-actual:hover{
    border-bottom: 2px solid orange;
    padding-bottom: 0.5rem;
}

header nav ul li ul{
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    align-items: center;
}

ul > li:not(.programa){
    padding-right: 3rem;
}

main {
    margin: 5rem;
    margin-top: 2rem;
}

main nav {
    padding: 1.5rem 0 1.5rem 0; 
}

main nav ul{
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
}

main nav ul a:hover{
    border-bottom: 2px solid orange;
    color: orange;
    padding-bottom: 0.5rem;
}

.graficos{
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 32rem 13rem repeat(4, 32rem);

}

.graficos >span{
    background-color: red;
    text-align: center;
}

.graficos .genero{
    background-color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-radius: 1rem;
    padding: 2rem 0 2rem 1rem;
}
.graficos .genero > div {
    text-align: left;
}

.graficos .genero .row {
    display: flex;
    padding: 1rem;
    text-align: left;
}

.graficos .genero img {
    width: 98%;
    height: 100%;
}

.graficos .genero .row .generos{
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
}

.graficos .genero .row .generos > p{
    display: flex;
    align-items: center;
    margin: 1rem;
}
.mujeres{
    display: inline-block;
    margin: .5rem;
    border-radius: 0.5rem;
    width: 2rem;
    height: 2rem;
    background-color: #FDC879;
}
.hombres{
    display: inline-block;
    margin: .5rem;
    border-radius: 0.5rem;
    width: 2rem;
    height: 2rem;
    background-color: #FF9104;
}
.otros{
    display: inline-block;
    margin: .5rem;
    border-radius: 0.5rem;
    width: 2rem;
    height: 2rem;
    background-color: #CCCCCC;
}


.graficos .ubicacion{
    background-color: white;
    border-radius: 1rem;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

.graficos .ubicacion > div{
    margin: 2rem;
    text-align: left;
}

.graficos .ubicacion > div{
    display: flex;  
}
.graficos .ubicacion > div > button{
   border-radius: .5rem;
   margin-right: .5rem;
   flex-grow: 1;
   flex-shrink: 1;
   border: 1px solid #999999;
   padding: 1rem;
   color: #999999;
}
.graficos .ubicacion > div > button:hover{
    border: 1px solid #FF9104;
    color: #FF9104;
 }
.graficos .ubicacion > div > button:last-child{
    margin-right: 0;
 }

 .graficos .ubicacion > img{
    width: 98%;
    height: 70%;
 }

.graficos .edad {
    background-color: white;
    border-radius: 1rem;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.graficos .edad > div{
    margin: 2rem;
    text-align: left;
}
.graficos .edad img {
    width: 100%;
    height: 80%;
}

.graficos .estudios{
    background-color: white;
    border-radius: 1rem;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}
.graficos .estudios > div{
    margin: 2rem;
    text-align: left;
}

.graficos .estudios > img{
    width: 98%;
    height: 70%;
    text-align: left;
}



.graficos .programacion {
    background-color: white;
    border-radius: 1rem;
    grid-column: 1 / 4;
    grid-row: 4 / 5;

}
.graficos .programacion > div{
    margin: 2rem;
    text-align: left;
}

.graficos .programacion > img{
    margin-left: 1rem;
    width: 98%;
    height: 80%;
    text-align: left;
}


.graficos .ingles{
    background-color: white;
    border-radius: 1rem;
    grid-column: 3 / 4;
    grid-row:5 / 7;
}
.graficos .ingles > div{
    margin: 2rem;
    text-align: left;
}
.graficos .ingles > div:not(:first-child){
    margin: 2rem;
    text-align: left;
    padding-bottom: 3rem;
    border-bottom: 1px solid #B3B3B3;
}
.graficos .ingles > div:last-child{
    border-bottom: 0;
}

.graficos .ingles > div p{
    display: block;
    text-align: left;
}
.graficos .ingles .one p:first-child{
    color: #FF9104;
    font-size: 3rem;
}

.graficos .ingles .two p:first-child{
    color: #FB5604;
    font-size: 3rem;
}
.graficos .ingles .three p:first-child{
    color: #FB824F;
    font-size: 3rem;
}
.graficos .ingles .four p:first-child{
    color: #FB4F4F;
    font-size: 3rem;
}
.graficos .ingles .five p:first-child{
    color: #995600;
    font-size: 3rem;
}

.graficos .cursos{
    background-color: white;
    border-radius: 1rem;
    grid-column: 1 / 3;
    grid-row:5 / 6;
}
.graficos .cursos > div{
    margin: 2rem;
    text-align: left;
}

.graficos .cursos > img{
    margin-left: 1rem;
    width: 98%;
    height: 80%;
    text-align: left;
}

.graficos .experiencia{
    background-color: white;
    border-radius: 1rem;
    grid-column: 1 / 3;
    grid-row:6 / 7;
}

.graficos .experiencia > div{
    margin: 2rem;
    text-align: left;
}

.graficos .experiencia > img{
    margin-left: 1rem;
    width: 98%;
    height: 80%;
    text-align: left;
}

